# Ejemplo de configuración para .streamlit/secrets.toml

[snowflake]
user = "APP_ANALITICA"
password = "LaContraseñaQuePusiste"
account = "<tu_account>"  # Ejemplo: abcd-xy123
warehouse = "WH_ANALITICA_FARMA"
database = "ANALITICA_FARMA"
schema = "PUBLIC"
role = "ROLE_ANALITICA_FARMA"
